@import "_variables";

.landing {
  height: 100%;
  background-color: @red;
  text-align: center;
}
.title {
  color: @white;
  text-align: center;
  &--smaller {
    font-size: 150px;
  }
  &--larger {
    font-size: 180px;
  }
}
.stripes {
  position: absolute;
  bottom: -3px;
  width: 100%;
}
